* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    flex: 1 1 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    color: #666;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
header.scrollMenu {
    background-color: rgba(12, 16, 34, 0.9);
    color: #fff;
}
header.scrollMenu .menu a {
    color: #fff;
}
.container {
    max-width: 1210px;
    margin: auto;
}
.header {
    width: 100%; 
    display: flex;
    align-items: center;
    height: 80px;
    padding: 30px 0px;
}
#logo {
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.logo-img {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
#logo h1 {
    font-size: 15px;
    font-weight: bold;
}
#menuAndSocialMedia {
    flex: 1;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
#menuAndSocialMedia a {
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
    gap: 40px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-family: 'DM+Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.menu li a:hover,
.menu .active {
    border-bottom: solid 3px #3cf;
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.socialMedia {
    display: flex;
    gap: 5px;
}
.logo-socialMedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
    color: #666;
    background: linear-gradient(45deg, #f06, #3cf);
}
.logo-socialMedia a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}
.logo-socialMedia a:hover {
    color: #fff;
}
.logo-socialMedia a:hover::after {
    transform: scale(0);
}

/*----MAIN----*/
main {
    width: 100%;
}

#home {
    display: flex;
    height: 100vh;
    padding-top: 80px;
    align-items: center;
}
.home-presentation {
    display: flex;
    flex: 2;
    flex-direction: column;
    color: #445964;
}
.home-presentation p {
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    animation: slideLeft 1.5s ease forwards;
    animation-delay: 1s;
}
.home-presentation h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: .7s;
}
.language {
    position: relative;
    width: 120px;
    margin-top: 10px;
    font-weight: bold;
    opacity: 0;
    animation: slideLeft 1.5s ease forwards;
    animation-delay: 1s;
}
.language .language-selected {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
}
.language .language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../image/us.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

/* JQUERY CLASS */
.language-selected.change-en:before {
    background-image: url(../image/us.png);
}
.language-selected.change-br:before {
    background-image: url(../image/br.png);
}

.language ul {
    position: absolute;
    width: 150px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding: 5px 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.language ul li {
    list-style: none;
}
.language ul li a {
    display: block;
    text-decoration: none;
    color: #445964;
    padding: 5px 10px;
}
.language ul li:hover {
    background-color: #e8e8e8;
}
.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../image/us.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
.language a.en:before {
    background-image: url(../image/us.png);
}
.language a.br:before {
    background-image: url(../image/br.png);
}
.language:hover ul {
    display: block;
}
.home-img {
    width: 400px;
    height: 400px;
    opacity: 0;
    animation: zoomIn 1.5s ease forwards;
    animation-delay: 1s;
}
.home-img .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img .circle::after {
    content: '';
    position: absolute;
    width: 370px;
    height: 370px;
    background-color: #fff;
    border-radius: 50%;
}
.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}
.circle span:nth-child(1) {
    filter: blur(10px);
}
.circle .image {
    position: relative;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}
.image img {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 410px;
    object-fit: cover;
}

#skills {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 30px;
    background-color: #0c1022;
}
.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 70px;
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.frame-skills {
    display: flex;
    width: 100%;
    gap: 30px;
}
.my-skills {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
    background-color: #242738;
    padding: 30px;
    border-radius: 10px;
}
.my-skills .skills-img {
    display: flex;
    gap: 30px;
}
.skills-img img {
    background-color: #0c1022;
    padding: 10px;
    border-radius: 10px;
}
.infor-skills {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #242738;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 20px;
}
.frame-skills p {
    display: none;
}


#projects {
    height: 100vh;
}
.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.projects .title {
    margin-top: 75px;
}
.projects .frame-projects {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;  
    margin-top: -70px;
}
.frame-projects .my-projects {
    height: 260px;
    width: 200px;
    border: solid 2px #000;
    background-color: #0c1022;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}
.my-projects .start-project {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
}
.start-project .title-project {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.start-project img {
    width: 100%;
    max-height: 100%;
}
.start-project .projects-photoarea {
    position: relative;
    height: 100%;
}
.projects-photoarea .projects-photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: none;
    color: #fff;
}
.projects-photoinfo p {
    font-size: 14px;
    font-weight: bold;
}
.projects-photoarea:hover .projects-photoinfo {
    display: flex;
}
.my-projects .infor-project {
    height: 40%;
    width: 100%;
    padding-top: 20px;
}
.infor-project .technology-project .bxl-html5 {
    color: #E65100;
}
.infor-project .technology-project .bxl-css3 {
    color: #0277BD;
}
.infor-project .view--project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.view--project a {
    display: inline-block; 
    text-decoration: none;
    color: #fff;
}
.view--project a:hover {
    color: #f06;
}


#about {
    height: 100vh;
}
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.text-about p {
    position: relative;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #242738;
}
.text-about p:nth-child(1)::after {
    content: "“";
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 10px;
    top: -40px;
}
.text-about p:nth-child(3)::after {
    content: "”";
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: -40px;
    right: 30px;
}

#contact {
    height: calc(100vh - 100px);
}
.my-contact {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.my-contact .infor-contact:nth-child(2) {
    font-weight: bold;
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.infor-contact:nth-child(1) {
    color: #1E0E62;
    font-size: 50px;
    font-weight: bold;
}
.infor-contact:nth-child(2) {
    font-size: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0c1022;
}
.footer-copryright {
    display: flex;
    align-items: center;
    color: #fff;
}
.footer-text {
    margin-left: 5px;
}








/*---KEYFRAMES ANIMATION---*/

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}